<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="../static/css/bootstrap.css" /> -->
    <link rel="stylesheet" href="../static/css/light.css" />
  
</head>

<body>
    <div class="main_div">
        <div>
            <img class="evoluzn_logo" src="../static/img/Evoluzn_Logo.png">
        </div>
        <div class="main_box_div">
            <div class="light_box_parent">
                <div class="light_box_child">
                    abcd
                </div>
                <div class="light_box_child">
                    abcd
                </div>
                <div class="light_box_child">
                    abcd
                </div>
                <div class="light_box_child">
                    abcd
                </div>
            </div>
        </div>
    </div>


    <script src="../static/js/light.js"></script>
</body>

</html>